/* List item for mobile */
.li_title {
  color: #0272b6;
  font-size: 1.1rem;
  margin-top: 3rem;
  line-height: 1rem;
  padding-left: 1%;
  vertical-align: bottom;
}

.li_main {
  list-style: none; 
  width: 100%;
  position: relative;
  padding-top: 1rem;    
  padding-bottom: 1rem;
  /* border-bottom: 1px solid #dde2e6; */
  line-height: 2em;
  text-align: left;
}

.bd_bot {
  border-bottom: 1px solid #dde2e6;  
}

.mgt-n {
  margin-top: -1.5rem;
}
.detail {
  font-size: 0.9rem;
  /* vertical-align: text-top; */
}

.detail-c {
  color: #0272b6;
}

.r {
  color: red;
}
.ind-l {
  padding-left: 40%;
}

.detail:link,
.detail:visited {
  font-size: 0.9rem
}

.w1 {
  display: inline-block;
  font-size: 1rem;
}
.w1::after {
  /* display: table; */
  content: ':';
}


/* Non-mobile, grid Originally 640 -> Updated 760 */
@media only screen and (min-width: 760px) {
  .section-border {
    width: 680px;
  }
  
  /* List item */
  .li_main {
    display: flex;
    justify-content: space-between;
    width: 90%;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    /* border-bottom: 1px solid #dde2e6; */
    line-height: 2em;
  }
  .w1 { /* sum should be 90% */
    width: 20%;
    display:flex;
    flex-flow: wrap;
    font-size: 1rem;
    line-height: 1.3rem;
    vertical-align: middle;
  }

  .al-c {
    justify-content: center;
  }


  .w1::after {
    /* display: table; */
    content: '';
  }
}